@tailwind base;
@tailwind components;
@tailwind utilities;

html{
    @apply m-0 p-0;
    background: url("src/assets/wood.jpg") no-repeat center center fixed;
    background-size: cover;
}

body {
    font-family: 'Rubik', serif;
    font-style: normal;
    font-size: 20px;
}